/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/02/2018, 04:11:16
    Author     : moyses
*/

.text, .label, .text-field{
	-fx-font-weight: bold;
    -fx-text-alignment: center;
}

#LabelScreen{
    
    -fx-font-family: serif;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

#descriptionCable{
	
    -fx-font-family: serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

}

#HelpLabel{
    
    -fx-font-family: serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

.button{
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
    -fx-pref-width: 200;
    -fx-font-weight: 700;
}

#back-button{
    -fx-background-color: linear-gradient(#666, #000);
    -fx-text-fill: WHITE;
}

#calculate{
    -fx-background-color: linear-gradient(#afe24d, #9ad824);
    -fx-text-fill: WHITE;
}

#fileOutput{
	-fx-background-color: linear-gradient(#42abf8, #0888e6);
    -fx-text-fill: white;
}

#fileInput{
	-fx-background-color: linear-gradient(#febc44, #f49f01);
    -fx-text-fill: white;
}