/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/02/2018, 04:11:16
    Author     : moyses
*/

#LabelScreen{
    
    -fx-font-family: serif;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

#HelpLabel{
    
    -fx-font-family: serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

.button{
	
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: linear-gradient(#666, #000);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
    -fx-cursor: hand;
    -fx-font-weight: 700;
    
}