/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/02/2018, 04:11:16
    Author     : moyses
*/

#LabelScreen{
    
    -fx-font-family: serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

#HelpLabel{
    
    -fx-font-family: serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

.button{
    
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #666;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
    -fx-cursor: hand;
    
}

#calculate{
    
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1B8E23;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
    -fx-cursor: hand;
    
}

#fileOutput{
	
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #109DA4;
    -fx-pref-width: 200;
    -fx-text-fill: white;
    -fx-cursor: hand;
    
}

#fileInput{
	
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #8B008B;
    -fx-pref-width: 200;
    -fx-text-fill: white;
    -fx-cursor: hand;
    
}